# Python
*.py[cod]
__pycache__
/poetry.lock
/dist

# Development tools
/.mypy_cache
/.pytest_cache
/.coverage

# Editors
*.swp
/.idea
/.vscode/*
!/.vscode/*.example

# Configs
/qldebugger.toml

# Others
.DS_Store
