# Python
*.py[cod]
__pycache__
/poetry.lock
/dist

# Development tools
/.venv
/.ruff_cache
/.mypy_cache
/.pytest_cache
/.coverage
/.coverage.*

# Docs
/docs-site

# Editors
*.swp
/.idea
/.vscode

# Configs
/qldebugger.toml

# Others
.DS_Store
