{
    "python.defaultInterpreterPath": "python",
    "autopep8.importStrategy": "fromEnvironment",
    "ruff.importStrategy": "fromEnvironment",
    "mypy.runUsingActiveInterpreter": true,
    "mypy.targets": [
        "qldebugger",
        "tests"
    ],
    "python.testing.pytestEnabled": true,
    "python.testing.pytestArgs": [
        "--no-cov",
        "tests"
    ],
    "[python]": {
        "editor.defaultFormatter": "ms-python.autopep8"
    }
}
